/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUM_UTIL 1
#define SYMBOLS 2
#define MEDIA 3

#define MT_SHF_SPC &mt LSHFT SPACE
#define MT_CTL_RET &mt RCTRL RET
#define MT_GUI_TAB &mt LGUI TAB

#define US_MICRO RA(M)
#define US_EURO RA(N5)
#define US_DEG RA(N0)

#define _GRAVE &two_keys GRAVE SPACE
#define _APOS &two_keys APOS SPACE
#define _TILDE &two_keys TILDE SPACE
#define _DQT &two_keys DQT SPACE
#define _CARET &two_keys CARET SPACE

#define E_ACU &two_keys APOS E
#define E_GRAV &two_keys GRAVE E
#define A_GRAV &two_keys GRAVE A
#define I_GRAV &two_keys GRAVE I
#define O_GRAV &two_keys GRAVE O
#define U_GRAV &two_keys GRAVE U

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NUM_UTIL SYMBOLS>;
            then-layer = <MEDIA>;
        };
    };
    macros {
        two_keys: two_keys {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings
                = <&macro_param_1to1>, <&kp MACRO_PLACEHOLDER>
                , <&macro_param_2to1>, <&kp MACRO_PLACEHOLDER>
                ;
        };
    };
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L       &kp SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M       &kp COMMA      &kp DOT      &kp FSLH
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &lt 1 ESC    MT_SHF_SPC   MT_GUI_TAB         &bspc_del     MT_CTL_RET    &lt 2 DEL
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                num_util_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp N1       &kp N2         &kp N3       &kp N4        &kp N5             &kp N6       &kp N7        &kp N8        &kp N9        &kp N0
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       A_GRAV        E_GRAV        I_GRAV        O_GRAV        U_GRAV           &kp LEFT       &kp DOWN      &kp UP        &kp RIGHT    &kp PSCRN
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp CAPS       E_ACU          &kp INS       &kp DEL       &kp ESC          &kp HOME      &kp PG_DN     &kp PG_UP      &kp END       &trans
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    &trans        &trans        &trans             &trans       &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                symbols_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp EXCL       &kp AT       &kp HASH      &kp DLLR      &kp PRCNT          _CARET      &kp AMPS      &kp STAR      _GRAVE        _TILDE
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        _DQT        &kp LBKT      &kp LBRC      &kp LPAR       &kp LT           &kp FSLH      &kp MINUS     &kp EQUAL     &kp PIPE      &kp US_DEG
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       _APOS        &kp RBKT      &kp RBRC      &kp RPAR       &kp GT           &kp BSLH      &kp UNDER     &kp PLUS     &kp US_MICRO  &kp US_EURO
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    &trans        &trans       &trans           &kp N0        &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

                media_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &trans        &trans       &trans     &kp C_VOL_UP   &kp C_PREV          &kp F1        &kp F2        &kp F3        &kp F4        &kp F5
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &trans         &trans       &trans     &kp C_VOL_DN   &kp C_NEXT          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans        &trans       &trans       &kp C_MUTE    &kp C_PP           &kp F11       &kp F12       &trans        &trans        &trans
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &trans        &trans        &trans             &trans        &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
        };
};
